.fuente-terciaria {
  background-color: rgb(14, 13, 13);
  width: 65%;
  padding: 0.7rem;
  text-align: center;
  color: greenyellow;
}

.containerFechas {
  background-color: #ffff00;
  width: 65%;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 3%;
  p {
    margin: 0;
    color: black;
    position: relative;
    padding: 0.7rem;
    &:hover {
      background-color: rgb(14, 13, 13);
      color: white;
    }
    span {
      position: absolute;
      right: 40%;
    }
    strong {
      position: absolute;
      right: 1rem;
      cursor: pointer;
    }
  }
}
